
    .products-section {
      padding: 4rem 1rem;
      background: linear-gradient(to bottom, #000000, #0a0f2c);
      text-align: center;
    }

    .products-section h2 {
      color: whitesmoke;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .products-section p.lead {
      color: whitesmoke;
      font-size: 1.1rem;
      max-width: 700px;
      margin: 0 auto 3rem;
    }

    .product-card {
      background: rgb(43, 39, 39);
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    }

    .product-title {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 0.5rem;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-100%);
      transition: transform 1s ease;
      font-weight: 600;
    }


    .product-card.loaded .product-title {
      transform: translateY(0);
    }

    .swiper {
      width: 100%;
      height: 250px;
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      .swiper {
        height: 200px;
      }
    }
 